<h1>Contact Us</h1><br><br>
<div id="spaces">
<form method="post" action="/posts/hello" enctype="multipart/form-data">

  <table>
    <tr>
      <td><b>Name</b>
      </td>
      <td> <input type="text" name="name">
      </td>
    </tr>
    <tr>
      <td><b>Subject</b>
      </td>
      <td> <input type="text" name="subject">
      </td>
    </tr>
    <tr>
      <td><b>Email</b>
      </td>
      <td> <input type="text" name="email">
      </td>
    </tr>
    <tr>
      <td><b>Body</b>
      </td>
      <td> <textarea style="height: 200px;width: 250px" name="body"> </textarea>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td >
        <input type="submit" value="Sent Email">
      </td>
    </tr>
  </table>


</form>
</div>